# Salin file ini menjadi .env untuk pengembangan lokal
# Di Vercel, set variabel ini melalui Dashboard > Settings > Environment Variables

# URL Proxy untuk semua request axios
# Format: http://username:password@host:port atau http://host:port
PROXY_URL=http://ip.atlantic-server.com:64433
